.inputbox {
  position: relative;
}
.input {
  height: 4rem;
  background-color: #faf9f9;
  border: none;
  border-radius: 0.4rem;
  padding-left: 7rem;
  font-size: 1.7rem;
  color: #212529;
}
.input::placeholder {
  color: #bdbdbd;
  font-size: 2rem;
}
.icon {
  position: absolute;
  color: #212529;
  top: 1rem;
  left: 1rem;
  font-size: 2rem;
}

@media (max-width: 750px) {
  .input {
    max-width: 20rem;
  }
}
