nav {
  width: var(--fluid-width);
  max-width: var(--max-width);
  margin: 0 auto;
  height: var(--nav-height);
  display: flex;
  align-items: center;
}

.page {
  min-height: calc(100vh - var(--nav-height));
  display: grid;
  align-items: center;
  margin-top: -3rem;

  padding: 0px 40px;
}

h1 {
  font-weight: 700;
}
h1 span {
}
p {
  font-size: 2.2rem;
}
.landingbtn {
  background-color: var(--primary-color);
  padding: 1.7rem 2.7rem;
  display: inline-block;
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  margin-top: 2rem;
  transition: all 0.4s ease;
}
.landingbtn:hover {
  opacity: 0.8;
}
.landingbtn:active {
  transform: scale(1.1);
}
.main-img {
  display: none;
}
@media (min-width: 992px) {
  .page {
    grid-template-columns: 1fr 1fr;
    column-gap: 3rem;
  }
  .main-img {
    display: block;
  }
  .main-img img {
    width: 80%;
  }
}
