.book {
  padding: 0.5rem;
  margin-bottom: 1rem;
}
.numberofpages {
  color: green;
}
.btn {
  color: #ffffff;
  border: none;
  background-color: var(--primary-color);
  font-size: 2rem;
  cursor: pointer;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
}
.barcontainer {
  width: 20rem;
}
.bar {
  height: 100%;
}
