.sidebar {
  background: var(--primary-color);

  height: 50rem;
  position: sticky;
  top: 3rem;

  width: 250px;
  padding: 2rem;
  border-radius: 0.5rem;
}

li {
  list-style: none;

  padding: 1rem 0;
}
li:hover a {
  color: #f09829;
}

.sidebar h1 {
  color: #f0f0f0;
}

a.activelink {
  color: #f09829;
  font-size: 2rem;
}
.sidebaricon {
  margin-right: 1rem;
  font-size: 2rem;
}

.link {
  display: flex;
  align-items: center;
  color: #ffffff;
  font-size: 2rem;
  text-transform: capitalize;
}
li:last-child {
  color: #ffffff;

  bottom: 3rem;
  font-size: 2rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}
li:last-child span {
  margin-left: 1rem;
}
.menu {
  font-size: 4rem;
  color: var(--primary-color);
  display: none;
}

@media (max-width: 850px) {
  .sidebar {
    width: 7rem;

    margin: 0;
  }
  .sidebar h1 {
    visibility: hidden;
  }

  li span {
    display: none;
  }
  .sidebaricon {
    margin-bottom: 1rem;
  }
}
