.main {
  background-color: #eceff1;
  padding: 3rem 4rem 0rem;
  display: flex;
}
.dashboard-nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
  height: 4rem;
}

.wrapper {
  flex: 1;
  min-height: calc(100vh - 3rem);
  display: flex;
  flex-direction: column;
  margin-left: 3rem;
}

.info {
  display: flex;

  margin-left: auto;
}
.info span {
  font-size: 2rem;
  color: #212529;
  text-transform: capitalize;
}
.info img {
  background-color: #f0f0f0;
  border: #dee2e6 1px solid;
  border-radius: 50%;
  width: 4rem;
  margin-left: 2rem;
}
@media (max-width: 700px) {
  .main {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
