.book {
  border: 1px solid var(--primary-color);
  min-height: 25rem;
  padding: 2rem 0.5rem;
  margin-bottom: 1rem;
  flex-basis: 45%;
  position: relative;
}
.btncontainer {
  display: flex;
  position: absolute;
  align-items: center;

  bottom: 1.5rem;
  left: 0;
  margin-left: 2rem;
}
.btncontainer button:first-child {
  margin-right: 1rem;
}

.btncontainer button {
  background-color: var(--primary-color);
  width: auto;
  padding: 0.7rem 1rem;

  color: white;
  font-size: 1.8rem;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
}

@media (max-width: 950px) {
  .book {
    flex-basis: 100%;
  }
}
